@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #171717;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-family: "IBM Plex Mono", monospace;
  color: rgba(64, 224, 125, 0.75);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  color: rgba(64, 224, 125, 0.75);
}
p {
  font-family: "Chakra Petch", sans-serif;
}

.main-container {
  padding: 1rem 0rem;
  max-width: 900px;
  margin: 0 auto;
  border: 0.5px dashed rgba(64, 224, 125, 0.75);
  border-top: none;
  border-bottom: 0px;
  overflow-x: hidden;
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.main-container::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;  /* Chrome, Safari, Opera */
}
.banner {
  background: rgba(64, 224, 125, 0.303);
  border: 0.5px dashed rgba(64, 224, 125, 0.75);
}

.container-box {
  border: 0.5px dashed rgba(64, 224, 125, 0.75);
  /* height: 150px; */
}
.banner-tag {
  background: #51ffad;
  width: 130px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.marquee > * {
  animation: marquee 15s linear infinite;
}

button:hover,
.btn-hover:hover {
  background: #51ffad;
  color: black;
  cursor: pointer;
}

.last-item {
  background: #51ffad;
  color: black;
}

.popup {
  background: rgba(0, 0, 0, 0.747);
}
.no-border {
  border: none;
}
.container-border {
  border: 0.5px dashed rgba(64, 224, 125, 0.75);
  max-width: 650px ;
  margin: 0 auto;

}
.border-dashed{
  border: 0.5px dashed rgba(64, 224, 125, 0.75);

}
.border-bottom-dashed {
  border-bottom: 0.5px dashed rgba(64, 224, 125, 0.75);
}
.text-format{
  border: 0.5px dashed rgba(64, 224, 125, 0.75);
}

#defaultCanvas1{
  display: none;
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-image {
  display: inline-block;
  animation: rotate 5s linear infinite;
  border-radius: 50%;
  border: 0.5px dashed rgba(64, 224, 125, 0.75);
  padding: 5px;
}
.rotating-image:hover {
  filter: brightness(1.2);

}

.submitBtn:hover{
background: auto !important; 
cursor: pointer !important;

}

.submitBtn{
  background: auto !important; 
  cursor: pointer !important;
}
